<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.robinzhu.mybatis_xml.mapper.ReaderMapper">
    <resultMap id="BaseResultMap" type="com.robinzhu.mybatis_xml.entity.ReaderDo">
        <id property="id" column="id" jdbcType="VARCHAR" />
        <result property="readerName" column="reader_name" jdbcType="VARCHAR" />
        <result property="password" column="password" jdbcType="VARCHAR" />
    </resultMap>

    <select id="findAll" resultMap="BaseResultMap">
        select * from reader
    </select>
    
    <select id="getOne" parameterType="String" resultMap="BaseResultMap">
        select * from user where id = #{id}
    </select>

    <insert id="insert" parameterType="com.robinzhu.mybatis_xml.entity.ReaderDo">
        <selectKey keyColumn="id" keyProperty="id" resultType="string" order="BEFORE">
            select replace(uuid(), '-', '')
        </selectKey>
        insert into reader (id, reader_name, password) values (#{id}, #{readerName}, #{password})
    </insert>

    <update id="update" parameterType="com.robinzhu.mybatis_xml.entity.ReaderDo">
        update reader set
            <if test="readerName != null">reader_name = #{readerName}</if>
            <if test="password != null">password = #{password}</if>
        where id = #{id}
    </update>

    <delete id="delete" parameterType="String">
        delete from reader where id = #{id}
    </delete>
</mapper>